- content_for :meta do
  %meta{name: "spreedly_token", content: Rails.application.secrets.spreedly_environment}

- content_for :javascripts do
  %script{src: "https://core.spreedly.com/iframe/iframe-v1.min.js"}
= javascript_include_tag 'add_payment_method'

%h1 Add Paymen Method

%body
  %form#payment-form{:method=> :post, :action => "/payment_methods", :onsubmit => "submitPaymentForm(); return false;"}
    %input#payment_method_token{:name => "payment_method_token", :type => "hidden"}/
    %label{:for => "full_name"} Name
    %input#full_name{:name => "full_name", :type => "text"}/
    %br/
    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
    %label Credit Card Number
    #spreedly-number{:style => "width:225px; height:35px; border: 2px solid"}
    %br/
    %label{:for => "spreedly-exp-month"} Expiration Date
    %input#month{:maxlength => "2", :name => "month", :type => "text"}/
    %input#year{:maxlength => "4", :name => "year", :type => "text"}/
    %br/
    %label CVV
    #spreedly-cvv{:style => "width:60px; height:35px; border: 2px solid "}
    %br/
    %input{:id=> "card_type", :name => "card_type", :type => "hidden"}/
    %input{:id=> "last_four_digits", :name => "last_four_digits", :type => "hidden"}/
    %input#submit-button{:disabled => "disabled", :type => "submit", :value => "Add card"}/


:javascript
  $('#payment-form').submit(function(e) {
    e.preventDefault();
  });
