- content_for :meta do
  %meta{name: "spreedly_token", content: ENV['SPREEDLY_ENVIRONMENT']}

%h1 Add PaymentMethod Form

%div
  %a{:href => "https://docs.spreedly.com/reference/test-data/"}
    Test Data Cards
%head
  %script{:src => "https://core.spreedly.com/iframe/iframe-v1.min.js"}
%body
  %form#payment-form{:method=> :post, :action => "/payment_methods", :onsubmit => "submitPaymentForm(); return false;"}
    %input#payment_method_token{:name => "payment_method_token", :type => "hidden"}/
    %label{:for => "full_name"} Name
    %input#full_name{:name => "full_name", :type => "text"}/
    %br/
    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
    %label Credit Card Number
    #spreedly-number{:style => "width:225px; height:35px; border: 2px solid"}
    %br/
    %label{:for => "spreedly-exp-month"} Expiration Date
    %input#month{:maxlength => "2", :name => "month", :type => "text"}/
    %input#year{:maxlength => "4", :name => "year", :type => "text"}/
    %br/
    %label CVV
    #spreedly-cvv{:style => "width:60px; height:35px; border: 2px solid "}
    %br/
    %input#submit-button{:disabled => "disabled", :type => "submit", :value => "Pay Now"}/

:javascript
  function getMetaContent(attributeName, attributeValue) {
    var metas = document.getElementsByTagName("meta");

    for (var i=0; i<metas.length; i++) {
      if (metas[i].getAttribute(attributeName) == attributeValue) {
        return metas[i].getAttribute("content");
      }
    }
  }

  var spreedlyToken = getMetaContent("name", "spreedly_token");

  Spreedly.init(spreedlyToken, {
    "numberEl": "spreedly-number",
    "cvvEl": "spreedly-cvv"
  });

  Spreedly.on("ready", function () {
    var submitButton = document.getElementById('submit-button');
    submitButton.disabled = false;
  });

  Spreedly.on('errors', function(errors) {
    for (var i=0; i < errors.length; i++) {
      var error = errors[i];
      console.log(error);
    };
  });

  Spreedly.on('paymentMethod', function(token, pmData) {

    // Set the token in the hidden form field
    var tokenField = document.getElementById("payment_method_token");
    tokenField.setAttribute("value", token);

    // Submit the form
    var masterForm = document.getElementById('payment-form');
    masterForm.submit();
  });

  function submitPaymentForm() {

    var requiredFields = {};

    // Get required, non-sensitive, values from host page
    requiredFields["full_name"] = document.getElementById("full_name").value;
    requiredFields["month"] = document.getElementById("month").value;
    requiredFields["year"] = document.getElementById("year").value;

    Spreedly.tokenizeCreditCard(requiredFields);
  }
