.pure-g
  .pure-u-1
    %h1 Exchequer
    This is the Exchequer Server.

    To checkout an offer:

    %a{:href => "https://exchequer-server.herokuapp.com/checkouts/new?offer_id=1"} https://exchequer-server.herokuapp.com/checkouts/new?offer_id=1
