.hero-container
  .hero-skew-section.-left
  .hero-skew-section.-right
  .hero-background
  .pure-u-1.middle-section
    .hero-welcome
      %h1.d-title.-hero.-fullwidth
        Exchequer-server
      %p.d-text.-white.-center.-big.-vertical-margin
        A new awesome project
