= form_tag(checkouts_path, class: "pure-form") do
  %fieldset
    %div{class: "pure-u-1-4"}
      %h5
        Coupon
      = text_field_tag :coupon,nil, {class: "pure-input-1-4"}
      = hidden_field_tag :offer_id, @offer.id
      %button{class: "pure-button", type: "submit"}
        Apply Coupon
