%div
  %h4 Invoice
  %table{class: "pure-table"}
    %thead
      %tr
        %th
          DateTime
        %th
          Amount
    %tbody
      %h4
      - @invoice.payments.each do |payment|
        %tr
          %td
            = payment.created_at
          %td
            = payment.amount
  = "You already paid $ #{@invoice.paid_balance}"
