.hero-skew-section {
  height: $full_percent;
  outline: .1rem solid transparent;
  position: absolute;
  top: 0;
  width: $half_percent;
  &:before {
    content: '';
    height: $full_percent;
    position: absolute;
    top: 0;
    width: $full_percent * 2;
  }
  &:before {
    background-attachment: fixed;
    transform: translateZ(1px) skewX(-15deg);
  }
  &.-left,
  &.-right:before {
    left: 0;
  }
  &.-right,
  &.-left:before {
    right: 0;
  }
  &.-left:before {
    background: $blackboard;
  }
  &.-right:before {
    background: $oxblood;
  }
}