.hero-background {
  background: asset_url('bg-hero.jpg') fixed no-repeat center center / cover;
  filter: grayscale($full_percent);
  height: $full_percent;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: $full_percent;
}