.hero-container {
  @include flex_centered();
  align-content: unset;
  overflow: hidden;
  position: relative;
  width: $full_percent;
  padding: ($four_rem + $three_rem) $one_rem $three_rem;
  @include md {
    height: 100vh;
  }
  > .background {
    background: $oxblood;
    height: $full_percent;
    left: 0;
    position: absolute;
    top: 0;
    width: $full_percent;
  }
}