// statical common values - rem

$point_cero_five_rem: .05rem;
$point_one_rem: .1rem;
$point_one_five_rem: .15rem;
$point_two_rem: .2rem;
$point_two_five_rem: $point_two_rem + $point_cero_five_rem;
$point_three_rem: $point_two_rem + $point_one_rem;
$point_three_five_rem: $point_two_rem + $point_one_five_rem;
$point_four_five_rem: $point_three_rem + $point_one_five_rem;
$half_rem: .5rem;
$point_six_five_rem: $half_rem + $point_one_five_rem;
$point_seven_five_rem: $half_rem + $point_two_five_rem;
$point_eight_five_rem: $half_rem + $point_three_five_rem;
$one_rem: 1rem;
$one_point_twenty_five_rem: 1.25rem;
$one_half_rem: $one_rem + $half_rem;
$two_rem: $one_rem * 2;
$three_rem: $two_rem + $one_rem;
$four_rem: $two_rem * 2;
$five_rem: $four_rem + $one_rem;

$hr_margin: 1.45rem;

// percent common values

$full_percent: 100%;
$three_quarter_percent: 75%;
$half_percent: 50%;
$one_quarter_percent: 25%;
$ten_percent: 10%;
$five_percent: 5%;

// common border-radius

$regular_border_radius: $half_rem;
$mid_border_radius: $one_rem;



// common transitions

$fast_transition: all .25s;
$normal_transition: all .5s;

// video padding

$video_padding: 56.25%;
