/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Project requirements
@import 'settings';
@import 'tools';
@import 'purecss';
@import 'generics';
@import './objects/*';
@import './components/*';
@import './trumps/*';

.pure-g {
  margin: 1rem;
}

.input-pure-css {
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  box-shadow: inset 0 .0625rem .1875rem #ddd;
  vertical-align: middle;
}

.error {
  background-color: #ffbaba;
  border-radius: .25rem;
  color: #d8000c;
  padding: 1rem;
}

.hidden {
  display: none;
}

/* Hide HTML5 Up and Down arrows for input number */

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#payment-form ul {
  list-style-type: none;
}
